*.la
*.lo
*.o
GNUmakefile
GNUmakefile.in
.deps
.dirstamp
.libs

/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/include
/vitalnix.pc
