# global
*.la
*.lo
*.o
*.pc
Makefile
Makefile.in
.deps/
.dirstamp
.libs/

# build system
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
