# global
*.la
*.lo
*.o
Makefile
Makefile.in
.deps
.dirstamp
.libs

# build system
/aclocal.m4
/autom4te.cache
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

# local
/vitalnix.pc
