#~~syntax:shconfig
#
# ucmsync configuration file
#
# Also see doc/spark_ui.html for help on the options.
#
## Note that ucmsync also reads useradd.conf! If you want to override something
## in useradd.conf, you can put it here.

# This is a special option for the backend module usage.
#
# If AUTOFLUSH is on for a backend module, it flushes dirty data to disk (or
# instructs its parent to do so).
#
# This flushing only becomes necessary, if other applications read the user
# database behind Vitalnix ACCDB, as i.e. a newly created user might only exist
# within memory and the scope of ACCDB until the DB is flushed to disk.
#
# Possible values:
#   off       Explicitly disabled ACCDB's AUTOFLUSH option.
#   on        Explicitly enables ACCDB's AUTOFLUSH option.
#             (Might result in performance loss.)
#   default   Does not touch ACCDB's AUTOFLUSH in any way.
#             The default autoflush value depends on the particular
#             backend module.
#   postadd   About the same as 'off', and only performs a flush request before
#             a USER_POSTADD script is run. Use this if you have a postadd
#             script that deals with login names in a way that it would not
#             work otherwise.
#
AUTOFLUSH=off

# If a user has gone from the EDS list, keep it for this at least this many
# more days. This is especially helpful is users get temporarily removed from
# the EDS list.
# (0 = feature deactivated; 540 = 18 months)
#
DEFERRED_DELETION=540

# Length of newly generated passwords
# Make this -1 to disable newly generated accounts
# Use 0 to start with no password. The latter may not always work as remote
# services may disallow empty passwords. See their source or their respective
# PAM configuration file
#
PSWD_LEN=10

# Use special subroutines to generate pronouncible, easy-rememberable
# (and on top, secure) passwords. If this is "no", the standard
# total-random-chars-and-numbers-algorithm is taken.
#
PSWD_PHON=yes

# Encryption method for new passwords ("des", "md5" or "blowfish",
# Blowfish is most secure)
# If you use "samba encrypted passwords" you will need to use "ntlm"
# (absolutely weak and currently not implemented).
#
PSWD_METH=blowfish

# Base home directory
#
HOME=/tmp/home

# A script that is to be executed { before, after } any users are
# added. It is not called if there are no users to add.
# %n    The number of users *about to be* added
# %%    literal %
#
#MASTER_PREADD=echo MASTER_PREADD: Starting addition stage. Expecting %n users.

# Same after having finished the addition stage.
# %n    The number of users that *were actually* added
#
#MASTER_POSTADD=echo MASTER_POSTADD: Finished addition stage with %n users.

# %n    The number of users *about to be* deleted
# %d    Current (= start of deletion function import_ds_Delete())
#       date and time ("YYYYMMDD-HHMMSS" format)
#
#MASTER_PREDEL=echo %d -- MASTER_PREDEL: Starting deletion stage. Expecting %n users.

# %n    The number of users that *were actually* deleted
# %d    Current date and time ("YYYYMMDD-HHMMSS" format)
#
#MASTER_POSTDEL=echo %d -- MASTER_POSTDEL: Finished deletion stage with %n users.

# Per user script that is executed before addition.
#
# %l    Login name
# %u    UID of the user (may be -1 to indicate automatic UID selection
#       (which has not been done yet!))
# %g    GID of the user's primary group
# %G    Name of the user's primary group
# %S    Names of the user's supplementary groups,
#       separated by comma. (May be empty)
# %n    GECOS field
# %h    Home directory
# %s    Default shell
#
#USER_PREADD=prepare_something -L %l --gecos "%n"

# Post-add script (Execute after a user has been added)
# Same fields as above apply. (See FAT WARNING near AUTOFLUSH in this
# configuration file!)
#
#USER_POSTADD=

# Pre-deletion script (Execute before a user is deleted)
# You should probably call some backup script here as SparkUI will
# remove the user's home directory. For sure. (Unless there is an
# error.)
#
# %l    Login name
# %u    UID of the user
# %g    GID of the user's primary group
# %G    Name of the user's primary group
# %h    Home directory
# %d    Current date and time ("YYYYMMDD-HHMMSS" format)
#
#USER_PREDEL="tar -cf /var/backup/home/%d-%l.tar \"%h\""

# Post-deletion script (Executed after a user is deleted)
# %l    Login name
# %d    Current date and time ("YYYYMMDD-HHMMSS" format)
#
#USER_POSTDEL=
